extends profile.pug

  


block ttt
  
    .row
      .col-xl-12

      if users
        table.table
          
            tr
              th Usuario
              th PokeID
              th Team
              th Nombre
              
              each user in users
                tr
                  td= user.username
                  td= user.pokeid          
                  td= user.team
                  td= user.nomape
                     
                     




                  
